div.hidden {
  display: none;
}

div.active {
  background: white;
  color: black;
  display: inline;
  border: 5px, #ffc0cb;
  
}

img.bigcoin {
  width: 100px;
}

img.smallcoin {
  width: 50px;
}

button, input[type="button"], input[type="submit"] { 
  color:purple; 
  
  background: color pink; 
  border:1px solid; 
  border-color: #696 #363 #363 #696; 
} 

